<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/game/new" method="post">
      <input type="text" name="team1">Team 1
      <input type="text" name="team2">Team 2
      <input type="number" name="team1Score">Team 1 Score
      <input type="number" name="team2Score">Team 2 Score
      <input type="submit">
    </form>
  </body>
</html>
